{% extends 'base.html.twig' %}

{% block title %}Hello ServiceController!{% endblock %}

{% block body %}
<h1>Créer un service</h1>

<form action="{{path('app_service_add_one')}}" method="POST">
    <label for="nom">nom : </label><input type="text" id="nom" name="nom"><br>
    <label for="description">description: </label><textarea name="description" type="text" id="description"></textarea><br>
    <label for="prix">prix : </label><input type="number" name="prix" id="prix"><br>
    <button type="submit">ajouter</button>
</form>
{% endblock %}
