{% extends 'base.html.twig' %}

{% block title %}Hello ContactController!{% endblock %}

{% block body %}
<h1>Contact</h1>

<div class="contact-info">
    <ul>
        <li><img src="https://placehold.co/50x50" alt=""> 00.00.00.00.00</li>
        <li><img src="https://placehold.co/50x50" alt=""> macon@macon.com</li>
        <li><img src="https://placehold.co/50x50" alt=""> adresse</li>
    </ul>

    <img src="https://placehold.co/300x300" alt="">
</div>

<div class="form">
    <h2>Nous contacter via notre formulaire</h2>
    <div class="form-first-line">
        <div class="form-block">
            <input type="text" name="nom" id="nom"><br>
            <label for="nom">Nom</label>
        </div>
        <div class="form-block">
            <input type="text" name="nom" id="nom"><br>
            <label for="nom">Nom</label>
        </div>
    </div>
</div>
{% endblock %}
