<footer>
    <div>
        <h2>Nous contacter</h2>

        <div class="contacter-wrapper">
            <img src="https://placehold.co/200x200" alt="">
            <nav>
                <ul>
                    <li><img src="https://placehold.co/50x50" alt=""> 00.00.00.00.00</li>
                    <li><img src="https://placehold.co/50x50" alt=""> macon@macon.com</li>
                    <li><img src="https://placehold.co/50x50" alt=""> adresse</li>
                </ul>

                <div class="media-link">
                    <a href=""><img src="https://placehold.co/50x50" alt=""><span>@lien</span></a>
                    <a href=""><img src="https://placehold.co/50x50" alt=""><span>@lien</span></a>
                </div>
            </nav>
        </div>
    </div>

    <nav>
        <h2>Navigation</h2>
        <ul>
            <li><a href="{{path('app_service')}}"> Accueil</a></li>
            <li><a href="{{path('app_contact')}}"> Contact</a></li>
        </ul>
    </nav>
</footer>